<div class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2><a id="about_me" class="anchor">About Me</a></h2>

        <div class="col-md-6 col-md-offset-3">
          <p>
            Hi, 我是龍仲能，高雄人，台大畢。今年 32 歲，有半年的 Rails 實務開發經驗。
          </p>
          <p>
            2009 年退伍後，我去紐約做生意，並逐漸接觸到新創。
            隨著對新創越來越嚮往，我從 2015 年 9 月開始自學 Rails。
            有感於自學的緩慢，於是在 2016 年 3 月報名了坊間 Rails EC 課程，加速人生迭代。
            半年後的現在，我已經能夠撰寫 User Story、規劃開發流程／時程，並將一個個功能透過 Rails 逐步開發出來，
            再用 HTML, CSS 和 jQuery 做出質感。學習過程請參考 <%= link_to "我的部落格", "https://lionlies.github.io", target: "_blank" %> 及 <%= link_to "Github", "https://github.com/lionlies", target: "_blank" %>.
          </p>
          <p>
            另外，我也持續自學工程師相關的技術，例如參加 Soft & Share 辦的 "<strong><%= link_to "Agile Web Development with Rails 5", "https://pragprog.com/book/rails5/agile-web-development-with-rails-5", target: "_blank" %></strong>" 及 "<strong><%= link_to "The Effective Engineer", "https://www.theeffectiveengineer.com/book", target: "_blank" %></strong>" 讀書會、
            2016 年 9 月開始參加 <%= link_to "Tealeaf Academy", "https://launchschool.com/", target: "_blank" %>(現為 Launch School)的 <strong>Ruby</strong> 線上課程及自學 <strong><%= link_to "RSpec", "https://gumroad.com/l/testing-rails", target: "_blank" %></strong>。
            接下來，我還想要學 <strong>JavaScript, React, Vue.js</strong>, 以及所有能讓我成為<strong>遠端</strong>＋<strong>全端</strong>工程師的技術。
          </p>
          <p>
            和新創沾得上邊的自學有二，一是和讀書會朋友舉辦<strong>電子商務</strong>讀書會，內容涵蓋 <strong>Google Analytics, User Experience, Growth Hacking, 文案寫作</strong>......等；
            另一是 <strong>Infographics</strong>，用圖像呈現資訊並有效傳達理念和訴求。
          </p>
          <br>
          <strong id="footer_contact_me">如果覺得我們有機會一起工作，把產品做到超級棒，請趕快 <%= mail_to "lionlies@gmail.com", "聯絡我" %>，謝謝。</strong>

        </div>

      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
