<div class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2><a id="about_me" class="anchor">About Me</a></h2>

        <div class="col-md-8 col-md-offset-2">
          <p>
            Hi there, it's <strong>Jason Lung</strong>, 32, National Taiwan University alumnus with 1 year of Rails developing experiences.
          </p>
          <p>
            After my military service, I moved to New York in 2009, starting to do food trading/delivering business, and it was when I first knew the term "startup".
            With growing eager of working in this field, I started to learn Ruby on Rails on my own in September, 2015.
            For better progress, I attended a Rails bootcamp in March, 2016.
          </p>
          <p>
            After half an year of learning and practicing, I'm now capable of building web apps through the process of writing a user story, planning an efficient workflow, and developing functions step by step, one at a time.
            Moreover, I can use HTML, CSS and jQuery to do some makeups and use git to do version control.
            You can find my learning footprint on <%= link_to "my tech blog", "https://lionlies.github.io", target: "_blank" %> and <%= link_to "my Github", "https://github.com/lionlies", target: "_blank" %>.
          </p>
          <p>
            The Rails bootcamp has ended, but learning is a long way. I attended <%= link_to "Agile Web Development with Rails 5", "https://pragprog.com/book/rails5/agile-web-development-with-rails-5", target: "_blank" %> study group and <%= link_to "The Effective Engineer", "https://www.theeffectiveengineer.com/book", target: "_blank" %> study group.
            I also started to learn more about Ruby on <%= link_to "Tealeaf Academy", "https://launchschool.com/", target: "_blank" %> (now Launch School) and learn how to do unit testings with <%= link_to "this sweet RSpec book", "https://gumroad.com/l/testing-rails", target: "_blank" %> by Thoughtbot.
            Next, I'm going to learn <%= link_to "JavaScript ES6", "https://es6.io", target: "_blank" %>, <strong>React, Vue.js</strong>, and everything that makes me a <strong>REMOTE</strong> and <strong>Full-stack</strong> developer.
          </p>
          <p>
            Two startup-related skills I'm learning on my own are <strong>E-Commerce ABC</strong> and <%= link_to "Infographics", "https://hahow.in/courses/572be49fd60bb3090091d208", target: "_blank" %>.
          </p>
          <br>
          <strong id="footer_contact_me">If you think I'm a strong fit to your team and we can make AWESOME products together, please <%= mail_to "lionlies@gmail.com", "Contact Me" %>, thank you.</strong>

        </div>

      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
