<div class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2><a id="about_me" class="anchor">About Me</a></h2>

        <div class="col-md-8 col-md-offset-2">
          <p>
            Hi there, it's <strong>Jason Lung</strong>, 32, <strong>National Taiwan University</strong> alumnus with 1 year of Rails developing experiences.
          </p>
          <p>
            After my military service, I moved to New York in 2009, starting to do <strong>food trading/delivering business</strong>, and it was when I first knew the term "startup".
            With growing eager of working in this field, I started to <strong>learn Ruby on Rails on my own in September, 2015.</strong>
            For better progress, I attended a <strong>Rails bootcamp in March, 2016.</strong>
          </p>
          <p>
            After half an year of learning and practicing, I'm now capable of <strong>building web apps through the process of writing a user story, planning an efficient workflow, and developing functions</strong> step by step, one at a time.
            Moreover, I can <strong>use HTML, CSS and jQuery to do some makeups</strong> and <strong>use git to do version control.</strong>
            You can find my learning footprint on <%= link_to "my tech blog", "https://lionlies.github.io", target: "_blank" %> and <%= link_to "my Github", "https://github.com/lionlies", target: "_blank" %>.
          </p>
          <p>
            The Rails bootcamp has ended, but learning is a long way. I attended <strong><%= link_to "Agile Web Development with Rails 5", "https://pragprog.com/book/rails5/agile-web-development-with-rails-5", target: "_blank" %> study group</strong> and <strong><%= link_to "The Effective Engineer", "https://www.theeffectiveengineer.com/book", target: "_blank" %> study group.</strong>
            I also started to <strong>learn more about Ruby on <%= link_to "Tealeaf Academy", "https://launchschool.com/", target: "_blank" %></strong> (now Launch School) and learn how to do <strong>unit testings with <%= link_to "this sweet RSpec book", "https://gumroad.com/l/testing-rails", target: "_blank" %></strong> by Thoughtbot.
            Next, I'm going to learn <%= link_to "JavaScript ES6", "https://es6.io", target: "_blank" %>, <strong>React, Vue.js</strong>, and everything that makes me a <strong>REMOTE</strong> and <strong>Full-stack</strong> developer.
          </p>
          <p>
            Two startup-related skills I'm learning on my own are <strong>E-Commerce ABC</strong> and <%= link_to "Infographics", "https://hahow.in/courses/572be49fd60bb3090091d208", target: "_blank" %>.
          </p>
          <br>
          <strong id="footer_contact_me">If you think I'm a strong fit to your team, and together, we can make AWESOME products to make the world better, please <%= mail_to "lionlies@gmail.com", "Contact Me" %>, thank you.</strong>

        </div>

      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
