<div class="my-work">

  <div class="container">
    <h2><a id="my_work" class="anchor">My Work</a></h2>
    <b><p class="text-align-center">Click on a website picture down below to go to the website in a new tab</p></b>
  </div>

  <br>

  <div class="row">

    <div class="col-md-6">
      <div class="thumbnail">
        <%= link_to "https://qingshi.herokuapp.com/", target: "_blank" do %>
          <%= image_tag "https://c1.staticflickr.com/9/8072/29521837551_dc4f4faba9_c.jpg" %>
        <% end %>
      </div>
      <div class="col-md-offset-1">
        <h4><%= link_to "簡。輕食", "https://qingshi.herokuapp.com/", target: "_blank" %></h4>
        <p>It's an E-Commerce website, an user can register an account, log in with Facebook, browse products, add products to shopping cart, and checkout.</p>
        <p>While checking out, system will build an order, then user can pay with the options of ATM, Credit Card via <%= link_to "Pay2Go", "https://qingshi.herokuapp.com/", target: "_blank" %> service. </p>
        <p>After checkout, system will automatically send an email to notice the user via <%= link_to "Mailgun", "http://www.mailgun.com/", target: "_blank" %> service.
           If system loading is too heavy, it'll defer the job with the use of <%= link_to "delayed_job", "https://github.com/collectiveidea/delayed_job", target: "_blank" %></p>
        <p><%= link_to "AASM", "https://github.com/aasm/aasm", target: "_blank" %> state machine has steps of "Ordered", "Paid", "Shipping", "Shipped", "Order Cancelled", and "Returned".
          The steps of "Ordered" and "Paid" will be switched automatically with the power of state machine. </p>
      </div>
      <div class="col-md-offset-1">
        <h4>Core Tech</h4>
        <p>
          。<%= link_to "jQuery", "https://jquery.com/", target: "_blank" %><br>
          。Use <%= link_to "CarrierWave", "https://github.com/carrierwaveuploader/carrierwave", target: "_blank" %> to upload product images.<br>
          。Product images are stored on <%= link_to "AWS S3", "https://aws.amazon.com/s3", target: "_blank" %><br>
          。<%= link_to "Facebook Login", "https://developers.facebook.com/products/login", target: "_blank" %><br>
          。<%= link_to "AASM", "https://github.com/aasm/aasm", target: "_blank" %> state machine<br>
          。E-Commerce shopping cart system<br>
          。 <%= link_to "Paying System(Pay2go)", "https://www.pay2go.com/", target: "_blank" %> <br>
          。Send emails with <%= link_to "Mailgun", "http://www.mailgun.com/", target: "_blank" %><br>
          。Use <%= link_to "Delayed_job", "https://github.com/collectiveidea/delayed_job", target: "_blank" %> to do scheduling<br>
          。Use <%= link_to "figaro", "https://github.com/laserlemon/figaro", target: "_blank" %> to manage confidential information<br>
          。Do internationalization with <%= link_to "i18n", "http://guides.rubyonrails.org/i18n.html", target: "_blank" %> <br>
          。Use <%= link_to "UUID(SecureRandom)", "https://ruby-doc.org/stdlib-2.2.3/libdoc/securerandom/rdoc/SecureRandom.html", target: "_blank" %> to create random url<br>
          。Ruby 2.2.4 / Rails 4.2.7 <br>
        </p>
      </div>

    </div>

    <div class="col-md-6">
      <div class="thumbnail">
        <%= link_to "http://ideahuntx.herokuapp.com/", target: "_blank" do %>
          <%= image_tag "https://c1.staticflickr.com/9/8483/29473306612_5cd44b62df_c.jpg" %>
        <% end %>
      </div>

      <div>
        <h4><%= link_to "Idea Hunt", "http://ideahuntx.herokuapp.com/", target: "_blank" %></h4>
        <p>Idea hunt is a platform for users to publish ideas and discuss with users. Each user can also manage his/her own ideas, read others' ideas, vote for an idea, and leave comments under each idea.</p>
        <p>Idea owners can add tags to each of their ideas, tags will show up in tag cloud. More populer tags will have bigger clouds.</p>
        <p>Each user have only one vote for each idea, ideas sort in the number of votes.</p>
        <p>The comment system is built with <%= link_to "Disqus", "http://Disqus.com/", target: "_blank" %></p>
      </div>
      <br>
      <div>
        <h4>Core Tech</h4>
        <p>
          。<%= link_to "Bootstrap", "http://getbootstrap.com/", target: "_blank" %><br>
          。<%= link_to "Font-Awesome", "https://github.com/bokmann/font-awesome-rails", target: "_blank" %> <br>
          。The voting system is built in the concept of <%= link_to "Rails Polymorphic associations", "http://guides.rubyonrails.org/association_basics.html#polymorphic-associations", target: "_blank" %><br>
          。<%= link_to "Tagging System", "https://github.com/mbleigh/acts-as-taggable-on", target: "_blank" %> <br>
          。<%= link_to "Disqus", "https://disqus.com/", target: "_blank" %> comment system <br>
          。<%= link_to "Social Sharing", "https://github.com/huacnlee/social-share-button", target: "_blank" %> <br>
          。Ruby 2.3.1 / Rails 5.0.0.1 <br>
        </p>
      </div>
    </div>
  </div>
</div>
